$sliderMinHeight: 70vh;
$sliderMinHeightImg: 60vh;
$ajaxMinHeight:60vh;

$primaryColor1: #007262;
$primaryColor2: #B64B00;
$secondaryColor1: #007262;
$primaryColorText: #007262;
$secondaryColorText: #B64B00;
$secondaryItems: #B64B00;

//$sliderMaxHeight: 50vh;

body{
  padding-top: 60px; // navbar
  padding-bottom: none;
  padding-left:none;
  padding-right:none;
  margin:0;
//  padding:0;
  font-size:100%;
  line-height: 1.6;
  //font-family: Arial, Helvetica, sans-serif;
  font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  box-sizing:border-box;
}

// navbar bootstrap3
.navbar {
  min-height: 60px;
}

.navbar-brand {
  padding: 0 15px;
  height: 60px;
  line-height: 60px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 13px */
  margin-top: 13px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 16.5px */
    padding-top: 16.5px;
    padding-bottom: 16.5px;
    line-height: 27px;
  }
}

@media (min-width: 992px) {
  body {
    padding-top:62px;
  }
}
#mainNav {
	background-color: $secondaryColor1!important;
  }

.facebook-nav-icon {
  margin-top: 6px;
  margin-lef: 12px;
}


// fin navbar bootstrap3




.disable-selection {
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

#wrapper{
  position: relative;
  width:100%;
  //min-height:55vw;
  height:$sliderMinHeight;
  overflow: hidden;
  //height:60%;
  border-bottom: #dddddd solid 1px;
  -webkit-box-shadow: 0px 1px 3px 1px rgba(187,187,187,0.98);
  -moz-box-shadow: 0px 1px 3px 1px rgba(187,187,187,0.98);
  box-shadow: 0px 1px 3px 1px rgba(187,187,187,0.98);
}

 .layer{
    position: absolute;
    width:100vw;
    //min-height:$sliderMinHeight;
    height: $sliderMinHeight;
    overflow: hidden;

  .content-wrap{
    position: absolute;
    width:100vw;
//    min-height:$sliderMinHeight;
    height:$sliderMinHeight;
    //min-height: 55vw;
    font-size:1.15em;
  }

   .content-body{
    width:25%;
    position:absolute;
    top:35%;
    text-align: center;
    transform:translateY(-50%);
    color:#666666;

  }
  img{
    position: absolute;
    //width:35%;
    //min-height:$sliderMinHeightImg;
    height:$sliderMinHeightImg;
    bottom:0%;
    //top:50%;
    left: 50%;
    //transform:translate(-50%, -50%);
    transform:translate(-50%);
  }

  h1{
    font-size:3em;
    font-weight:500;
  }

 }

.bottom{
  background:#fff;
  z-index:1;


  .content-body{
    right:15%;
   }

  h1{
    color:$secondaryItems;
  }
    .spanLeft{
      position: relative;
      left:-25px;
      opacity:0;
      transition:0.75s;
    }

    .spanRight{
      position: relative;
      right:-25px;
      opacity:0;
      transition:0.75s;
    }

    .marek-string:hover .spanLeft{
      position: relative;
      left:-3px;
      opacity:1;
    }

    .marek-string:hover .spanRight{
      position: relative;
      right:-3px;
      opacity:1;
    }
}

.top{
  background:#fff;
  color:#666666;
  z-index:2;
  width:50vw;

  .content-body{
    left: 15%;
  }

  h1{
    color:$primaryColor1;
    font-size:3em;
    font-weight:500;
  }
  .spanLeft{
    position: relative;
    left:-25px;
    opacity:0;
    transition:0.75s;
  }

  .spanRight{
    position: relative;
    right:-25px;
    opacity:0;
    transition:0.75s;
  }

  .anna-string:hover .spanLeft{
    position: relative;
    left:-3px;
    opacity:1;
  }

  .anna-string:hover .spanRight{
    position: relative;
    right:-3px;
    opacity:1;
  }
}

.vertical .handle{
  overflow: hidden;
  position: absolute;
  height: 100%;
  display: block;
  background-color: $primaryColor2;
  width:0px; // 5 pc
  top:0;
  left: 50vw;
  z-index:3;
}

.top{
    //transform: skew(-30deg);
    margin-left:-1000px;
    width: calc(50vw + 1000px);

    .content-wrap{
      //transform: skew(30deg);
      margin-left:1000px;
    }
}

@media(max-width:768px){
  body{
    font-size:75%;
  }
}

// async

.ajax{
  position:relative;
  min-height: $ajaxMinHeight;
  // min-height: 60px;
  // overflow: auto;
  //border: 5px solid red!important;
}

#box{
  border-bottom: #dddddd solid 1px;
  -webkit-box-shadow: 0px 1px 3px 1px rgba(187,187,187,0.98);
  -moz-box-shadow: 0px 1px 3px 1px rgba(187,187,187,0.98);
  box-shadow: 0px 1px 3px 1px rgba(187,187,187,0.98);
}

.copyright {
  background: $secondaryColor1;
}

.flex-center{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/// main content
#contact {
  background: #fff;
  // border-bottom: #dddddd solid 1px;
  // -webkit-box-shadow: 0px -1px 3px 0px rgba(187,187,187,1);
  // -moz-box-shadow: 0px -1px 3px 0px rgba(187,187,187,1);
  // box-shadow: 0px -1px 3px 0px rgba(187,187,187,1);
}

#marek-about{
  background: #f8f9fa;
  border-bottom: #dddddd solid 3px!important;
  -webkit-box-shadow: 0px 1px 3px 1px rgba(187,187,187,0.98);
  -moz-box-shadow: 0px 1px 3px 1px rgba(187,187,187,0.98);
  box-shadow: 0px 1px 3px 1px rgba(187,187,187,0.98);
}

#services{
  background: #f8f9fa;
}

.my-bg-primary{
  background:#DDE4E9!important;
}

.my-4 {
  max-width: 50px;
  border-width: 3px;
  border-color: $primaryColor2; }

.padding-top {
  padding: 4rem 0 0 0;
}

.padding-bottom {
  padding-bottom: 4rem;
}

.text-primary{
  color: $primaryColorText!important;
}

.text-secondary{
  color: $secondaryColorText!important;
}
.text-white{
  color: #dddddd!important;
}

.primary_hover:hover {
  color: lighten($primaryColorText, 65%);

}
.secondary_hover:hover {
 color: lighten($secondaryColorText, 50%);
}

.facebook_hover:hover{
  color: #fff!important;
}


.anna-link:link, .anna-link:hover, .anna-link:active{
  text-decoration: none;
  color: $primaryColorText;
}
.marek-link{
  text-decoration: none;
  color: $secondaryColorText;
}

.marek-link:link, .marek-link:hover, .marek-link:active{
  text-decoration: none;
  color: $secondaryColorText;
}

.home-section > .codemark {
  font-weight: normal;
  font-style: normal;

}

.my-text-strong{
  font-weight: bold;
  font-size: 1.5em;

}


#holder{
  //border: 2px solid red!important;
  text-align: center;
}

// .opis{
//   border: 2px solid blue!important;
// }


.marek-list {
      list-style-type: square;
      // direction: rtl;  /* Right to Left */
      // list-style-position: inside;
  li{
    font-size: 1.1em;
    color: $secondaryColorText ;
  }

}



.marek-text-pattern {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  // text-align: right;

}






///////////////////////////////////////// EXTERNAL
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Raleway:200');
div.item {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background: #000000;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

div.item * {
  box-sizing: border-box;
}

div.item img {
  max-width: 100%;
  vertical-align: top;
  height: 210px;
}

div.item i {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  font-size: 34px;
  color: #000000;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
}

div.item a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

div.item.blue {
  background-color: #34495e;
}
div.item.blue i {
  color: #34495e;
}
div.item.red {
  background-color: #e74c3c;
}
div.item.red i {
  color: #e74c3c;
}

div.item.green {
  background-color: #16a085;
}
div.item.green i {
  color: #16a085;
}

div.item:hover img {
  opacity: 0.3;
  filter: grayscale(100%);
}

div.item * {
  transition: all .35s ease-in-out;
}

div.item i {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

div.item:hover i {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
