//B64B00
$sliderMinHeight: 70vh;
$sliderMinHeightImg: 60vh;
$ajaxMinHeight:60vh;
$primaryColor1: #000;
$primaryColor2: #D15D00;
$secondaryColor1: #000;
$primaryColorText: #000;
$secondaryColorText: #D15D00;
$secondaryItems: #D15D00;


$white: #DDE4E9;
$whiter: #f8f9fa;
$whitest: #fff ;
