$sliderMinHeight: 70vh;
$sliderMinHeightImg: 60vh;
$ajaxMinHeight:60vh;
$primaryColor1: #007262;
$primaryColor2: #B64B00;
$secondaryColor1: #007262;
$primaryColorText: #007262;
$secondaryColorText: #B64B00;
$secondaryItems: #B64B00;


$white: #DDE4E9;
$whiter: #f8f9fa;
$whitest: #fff ;
