$sliderMinHeight: 70vh;
$sliderMinHeightImg: 50vh;
//$sliderMaxHeight: 50vh;

body{
  margin:0;
  padding:0;
  font-size:100%;
  line-height: 1.6;
  //font-family: Arial, Helvetica, sans-serif;
  font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

.disable-selection {
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

#wrapper{
  position: relative;
  width:100%;
  //min-height:55vw;
  min-height:$sliderMinHeight;
  overflow: hidden;
  //height:60%;
  border-bottom: #dddddd solid 1px;
  -webkit-box-shadow: 0px 1px 3px 1px rgba(187,187,187,0.98);
  -moz-box-shadow: 0px 1px 3px 1px rgba(187,187,187,0.98);
  box-shadow: 0px 1px 3px 1px rgba(187,187,187,0.98);
}

 .layer{
    position: absolute;
    width:100vw;
    min-height:$sliderMinHeight;
    //min-height: 55vw;
    overflow: hidden;

  .content-wrap{
    position: absolute;
    width:100vw;
    min-height:$sliderMinHeight;
    //min-height: 55vw;
    font-size:1.15em;
  }

   .content-body{
    width:25%;
    position:absolute;
    top:35%;
    text-align: center;
    transform:translateY(-50%);
    color:#222;
  }
  img{
    position: absolute;
    width:35%;
    //min-height:$sliderMinHeightImg;
    bottom:0%;
    //top:50%;
    left: 50%;
    //transform:translate(-50%, -50%);
    transform:translate(-50%);
  }

  h1{
    font-size:3em;
    font-weight:500;
  }

 }

.bottom{
  background:#fff;
  z-index:1;


  .content-body{
     right:15%;
   }

  h1{
    color:#C58400;
  }
  ///////////////////////
    .spanLeft{
      position: relative;
      left:-25px;
      opacity:0;
      transition:0.75s;
    }

    .spanRight{
      position: relative;
      right:-25px;
      opacity:0;
      transition:0.75s;
    }

    h1:hover .spanLeft{
      position: relative;
      left:-3px;
      opacity:1;
    }

    h1:hover .spanRight{
      position: relative;
      right:-3px;
      opacity:1;
    }
  /////////////////
}

.top{
  background:#fff;
  color:#666666;
  z-index:2;
  width:50vw;

  .content-body{
    left: 15%;
    color:#666666;
  }

  h1{
    color:#133CAA;
  }
}

.vertical .handle{
  overflow: hidden;
  position: absolute;
  height: 100%;
  display: block;
  background-color: #FDAB00;
  width:0px; // 5 pc
  top:0;
  left: 50vw;
  z-index:3;
}

.top{
    //transform: skew(-30deg);
    margin-left:-1000px;
    width: calc(50vw + 1000px);

    .content-wrap{
      //transform: skew(30deg);
      margin-left:1000px;
    }
}

@media(max-width:768px){
  body{
    font-size:75%;
  }
}

.dummy {
  padding-top: 60px;

}
